.LogoSearch-標志搜尋 {
   display: flex;
   gap: 0.75rem; 
}

.Search-搜尋 {
    display: flex;
    background: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
}

img {
    cursor: pointer;
}
.Search-搜尋 > input {
    background: transparent;
    outline: none;
    border: none;
    /*font-size: 15px;*/
}

.s-icon-s-圖標 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.23deg, #f99827, #f95f35);
    border-radius: 5px;
    padding: 4px;
    color: aliceblue;
    cursor: pointer;
}
