.profile_頭像 {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.Post-打卡 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background: var(--cardColor);
    border-radius: 1rem;
}

.Post-打卡 > div {
    display: flex;
    gap: 5px;
}

.Post-打卡 > div > .name名字 {
    font-weight: bold;
    cursor: pointer;
}

.Post-打卡 > img {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.Post-打卡 > .PostProject-打卡主題 {
    font-size: 18px;
    font-weight: 600;
}

.Post-打卡 > .PostReact-打卡反應 {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

}

.Post-打卡 > .like喜歡 {
    font-weight: bold;
    cursor: pointer;
}

.Post-打卡 > .PostDetail-打卡詳情 {
    display: flex;
    flex-direction: column;
}

.Post-打卡 > .PostDetail-打卡詳情 > span > b {
    cursor: pointer;
}

.Post-打卡 > .PostDetail-打卡詳情 > .viewAll展開 {
    cursor: pointer;
    color: var(--gray);
    font-size: 15px;
}

::-webkit-scrollbar {
    display: none;
}

