.ProfileCard-頭像卡 {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
}

.ProfileImage-頭像圖像 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImage-頭像圖像 > img:nth-of-type(1) {
    width: 100%;
}

.ProfileImage-頭像圖像 > img:nth-of-type(2) {
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.ProfileName-頭像名字 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;
}

.ProfileName-頭像名字 > span:nth-of-type(1) {
    font-weight: bold;
}

.FollowStatus-跟隨狀態 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.FollowStatus-跟隨狀態 > hr {
    width: 85%;
    border: 1px solid var(--hrColor);
}

.FollowStatus-跟隨狀態 > div {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.Follow-跟隨 {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.Follow-跟隨 > span:nth-of-type(1) {
    font-weight: bold;
}

.Follow-跟隨 > span:nth-of-type(2) {
    color: var(--gray);
    font-size: 13px;
}

.vl {
    height: 150%;
    border-left: 2px solid var(--hrColor);
}

.ProfileCard-頭像卡 > span {
    font-weight: bold;
    color: orange;
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
}